:root {
  /* primary colors */
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);

  /* dark toggle colors */
  --toggle-dark-start: hsl(210, 78%, 56%);
  --toggle-dark-end: hsl(146, 68%, 55%);

  /* light toggle colors */
  --toggle-light: hsl(230, 22%, 74%);

  /* dark theme */
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card-bg: hsl(228, 28%, 20%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);

  /* light theme */
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card-bg: hsl(227, 47%, 96%);
  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 2rem;
  background-color: var(--dark-bg);
}

.top-bar {
  height: 14rem;
  background-color: var(--dark-top-bg);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* dashboard title */
h1 {
  color: var(--dark-text2);
  margin-bottom: 0.5rem;
}

.db-heading p {
  margin-top: 0;
  font-size: small;
}

.line {
  height: 0;
  z-index: -2;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav p {
  color: var(--dark-text1);
  font-weight: bold;
}

.dm-toggle {
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  font-size: small;
}

/* dark mode toggle switch */
.toggle-switch {
  display: inline-flex;
  margin: auto 0;
}

.toggle-switch input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-switch input[type="checkbox"]:checked + label {
  background: gray;
}

.toggle-switch input[type="checkbox"]:checked + label::after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.toggle-switch label {
  cursor: pointer;
  width: 45px;
  height: 22px;
  background: linear-gradient(var(--toggle-dark-start), var(--toggle-dark-end));
  display: block;
  border-radius: 24px;
  position: relative;
}

.toggle-switch label::after {
  content: "";
  position: absolute;
  top: 2.5px;
  left: 3px;
  width: 17px;
  height: 18px;
  background: var(--dark-top-bg);
  border-radius: 16px;
  transition: 0.3s;
}

/* big cards */

.big-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.card {
    background-color: var(--dark-card-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }
  
.facebook {
  border-top: 3px solid var(--facebook);
}

.twitter {
  border-top: 3px solid var(--twitter);
}
.instagram {
  border-top-width: 3px;
  border-top-style: solid;
  border-image: linear-gradient(90deg, var(--instagram-start), var(--instagram-end));
  border-image-slice: 50;
}

.youtube {
  border-top: 3px solid var(--youtube);
}

.username {
    color: var(--dark-text1);
    font-size: small;
    display: flex;
    gap: 5px;
    margin-top: 1rem;
}

.social-icons {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

.follower-count {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-text2);
  margin-bottom: 0;
}

.follower-text {
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  color: var(--dark-text1);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.metric {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--limegreen);
}

.metric img {
  height: 5px;
  width: 7px;
  margin: auto 0;
}

.metric p {
  font-size: 0.7rem;
  font-weight: bold;
}

.down {
  color: var(--brightred);
}

/* bottom half */

h2 {
  color: var(--dark-text2);
  margin-top: 2.5rem;
}

.small-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  column-gap: 1.5rem;
}

.small-card {
  background-color: var(--dark-card-bg);
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  padding-top: 25px;
  border-radius: 5px;
}

.card-title {
  color: var(--dark-text1);
  font-weight: bold;
  font-size: small;
}

.card-icon {
  display: flex;
  justify-content: end;
}

.card-count {
  color: var(--dark-text2);
  font-size: 2rem;
  font-weight: bold;
}

.card-count p {
  margin-bottom: 0;
}

.card-rate {
  font-size: smaller;
  font-weight: bold;
  color: var(--limegreen);
  display: flex;
  justify-content: end;
  align-items: end;
}

.card-rate img {
  height: 5px;
  width: 7px;
  margin: 5px;
  margin-bottom: 7px;
}

.card-rate p {
  margin-bottom: 2px;
}

/* Attributions */

.attribution {
  font-size: small;
  text-align: center;
  color: var(--dark-text1);
  margin: 3rem auto;
}

@media (680px <= width <= 800px) {
  body {
      max-width: 800px;
  }

  .big-cards-container {
      grid-template-columns: 1fr 1fr;
  }

  .small-card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 680px) {
  body {
      max-width: 375px;
  }

  h1 {
      font-size: 1.5rem;
  }

  .nav {
      display: flex;
      flex-direction: column;
  }

  .line {
      z-index: 0;
      width: 100%;
      border: 1px solid var(--light-text1);
  }

  .dm-toggle {
      justify-content: space-between;
  }

  .big-cards-container {
      display: grid;
      grid-template-columns: 1fr;
  }

  .small-card-container {
      grid-template-columns: 1fr;
  }
}